/* Dropdown modify */

.dropLeft.dropdown-toggle::after {
    content: none;
}

.dropLeft.dropdown-toggle::before {
    border-right: .3em solid transparent;
    border-left: .3em solid transparent;
    border-bottom: .3em solid;
    vertical-align: .255em;
    display: inline-block;
    margin-left: .255em;
    border-top: 0;
    content: "";
}
