/* import other css */
@import url(scrollTop.css);
@import url(texts.css);
@import url(cards.css);

/* Modify body element */
body {
    background-image: url(/pics/bg/Elden-Ring-Wallpaper-body-2.png);
    background-color: rgb(65, 65, 65);
    background-position: center;
    background-size: cover;
    min-width: 330px;
}

/* Modify content area */
#content {
    border-right: 1.5px double rgb(155, 155, 155);
    border-left: 1.5px double rgb(155, 155, 155);
    min-height: calc(100vh - 197px);
    max-width: 1920px;
    padding: 0;
}

section {
    background-image: url(/pics/bg/Elden-Ring-Wallpaper-content-2.png);
    background-color: rgb(237, 237, 237);
    background-position: center;
    background-size: cover;
    width: 100%;
}

/* Make horizontal line invisible */
hr {
    opacity: 0;
}

/* Modify row */
.row {
    padding: 0;
    border: 0;
    margin: 0;
}

.row * {
    flex-shrink: 1;
}

/* Modify navigation and footer bars */
/* Navigation and footer */
nav, footer {
    min-height: 49px;
    font-size: 0;
}

nav.navbar-dark, footer.navbar-dark {
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 15px;
}

nav.bg-custom, footer.bg-custom {
    background-color: rgb(33, 33, 33);
}

/* Navigation bar */
.nav-pills a, .nav-link a {
    color: rgb(133, 133, 133);
    padding: 11px 5px 11px 5px;
    align-self: center;
}

.navbar, .navbar-brand {
    padding: 1px 0 1px 0;
}

nav .navbar-brand img {
    height: 45px;
    width: 45px;
}

.navbar-text {
    padding: 11px 0 11px 0;
    display: block;
    
}

.nav-link {
    padding: 11px;
}

/* Footer bar  */

footer .dropdown-menu {
    width: 250px;
    padding: 0;
    margin: 0;
}

footer .nav-link img {
    height: 25px;
    width: 25px;
}

footer .dropup li {
    margin: 5px;
}

/* Top footer bar */
.topFooter{
    background-color: rgb(51, 51, 51);
    min-height: 98px;
    max-height: 98px;
}

/* Dropdown modify */

.dropLeft.dropdown-toggle::after {
    content: none;
}

.dropLeft.dropdown-toggle::before {
    border-right: .3em solid transparent;
    border-left: .3em solid transparent;
    border-bottom: .3em solid;
    vertical-align: .255em;
    display: inline-block;
    margin-left: .255em;
    border-top: 0;
    content: "";
}
