/* Modify button which scroll to the top */
#top_button {
    position: fixed;
    display: none;
    height: 25px;
    width: 25px;
    right: 15px;
}

#top_button a {
    border: 1px double rgb(224, 224, 224);
    background-color: rgb(33, 33, 33);
    color: rgb(255, 255, 255);
    padding: 2.5px 9px 6px 9px;
    text-decoration: none;
    border-radius: 2.5px;
    text-align: center;
}

#top_button a:hover {
    background-color: rgb(115, 115, 115);
    color: rgb(255, 175, 175);
}